body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

 .mobile-fab-tip {
    border-radius: 1px;
    padding:0px 0.5rem;
    text-align: right;
    background-color: #00529c;
    color: #FFF;
    width:auto;
}

.pr{
	background-color: #eceff1;
    border-radius: 5px;
}

label{
    color: #044e9d; 
}
